[includeIf "gitdir:~/"]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/projects/work/"]
  path = ~/.gitconfig.work

[pull]
  rebase = true

[rebase]
  autoStash = true

[core]
  pager = delta
  excludesfile = ~/.gitignore
