[credential "https://github.com"]
  helper =
  helper = !$(which gh) auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !$(which gh) auth git-credential
[user]
  name = csvenke
  email = csvenke@users.noreply.github.com
[pull]
  rebase = true
[rebase]
  autoStash = true
[core]
  pager = delta
  excludesfile = ~/.gitignore
