[includeIf "gitdir:~/"]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/repos/work/"]
  path = ~/.work/.gitconfig

[pull]
  rebase = true

[rebase]
  autoStash = true

[diff]
  colorMoved = default

[core]
  pager = delta
  excludesfile = ~/.gitignore.global
