[includeIf "gitdir:~/"]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/repos/github/"]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/repos/gitlab/"]
  path = ~/repos/gitlab/.gitconfig

[includeIf "gitdir:~/repos/azure-devops/"]
  path = ~/repos/azure-devops/.gitconfig

[includeIf "gitdir:~/repos/altinn-studio/"]
  path = ~/repos/altinn-studio/.gitconfig

[push]
  autoSetupRemote = true

[pull]
  rebase = true

[fetch]
  prune = true
  pruneTags = true

[branch]
  autoSetupMerge = always
  autoSetupRebase = always

[rebase]
  autoStash = true
  autoSquash = true
  updateRefs = true
  rescheduleFailedExec = true

[worktree]
  guessRemote = true

[checkout]
  defaultRemote = origin

[advice]
  detachedHead = true

[merge]
  conflictstyle = zdiff3

[diff]
  colorMoved = default
  algorithm = histogram
  colorMovedWS = allow-indentation-change

[maintenance]
  strategy = incremental

[core]
  pager = delta
  excludesfile = ~/.gitignore.global

[rerere]
  enabled = true
