[includeIf "gitdir:~/"]
  path = ~/.gitconfig.personal

[includeIf "gitdir:~/repos/github/"]
  path = ~/repos/github/.gitconfig

[includeIf "gitdir:~/repos/azure-devops/"]
  path = ~/repos/azure-devops/.gitconfig

[includeIf "gitdir:~/repos/altinn-studio/"]
  path = ~/repos/altinn-studio/.gitconfig

[pull]
  rebase = true

[rebase]
  autoStash = true

[diff]
  colorMoved = default

[core]
  pager = delta
  excludesfile = ~/.gitignore.global
